#welcome {
    text-align: center;
  }
  #userHomeBody {
    margin: 5px auto;
    height: 100%;
    background-color: rgb(169,177,179);
    padding: 0px 50px;
  }
  
  #userHomeBody > div {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px;
  }
  
  .card {
    margin: 10px 30px;
  }
  #userHomeBody > .dropdown-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  