.ReviewForm{
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 50px;
    flex-direction: column;
    
}
.ReviewForm .form-control{
    width:300px;
}
.custom-icon {
    font-size: 180px;
  }
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  