.userorders{
    margin: 0;
    padding: 10px;
          
  }
  .userorders .table{
      border-radius: 10px;
    overflow: hidden;
  }
  
.userorderstable thead {
  background-color:  rgb(40,115,115); ;
  margin: 0px 10px;
  
}

.userorderstable{
  margin: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(190, 216, 217);
}