#signupLink{
    text-decoration: none;
    font-weight: bold;
    padding: 0px 5px;
}

.loginForm{
    background-color: #d9d9d9a9;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
    }
.Login{
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url('https://img.freepik.com/premium-vector/young-woman-with-shopping-cart-customer-buying-gifts-shopping-purchase-concept_529344-1866.jpg?w=740');
    
    
}

  /* Add your custom styles here */
.Toastify__toast--success {
    background-color: #2ecc71;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px;
  }
  


  



  